<a href="https://colab.research.google.com/github/Tolu786/web_scraping/blob/main/Fetching_Data_From_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import requests

In [ ]:
url='https://api.themoviedb.org/3/movie/top_rated?api_key=2165a4b2bb67ea9bc2dc66c1ab553b51&language=en-US&page=1'
response=requests.get(url)

In [ ]:
df_temp=pd.DataFrame(response.json()['results'])[['id','overview','popularity','title','release_date','vote_average','vote_count']]

In [ ]:
df_temp.shape

(20, 7)

In [ ]:
df_temp.head()

,id,overview,popularity,title,release_date,vote_average,vote_count
0,278,Framed in the 1940s for the double murder of h...,114.792,The Shawshank Redemption,1994-09-23,8.7,20906
1,19404,"Raj is a rich, carefree, happy-go-lucky second...",41.583,Dilwale Dulhania Le Jayenge,1995-10-20,8.7,3471
2,238,"Spanning the years 1945 to 1955, a chronicle o...",97.575,The Godfather,1972-03-14,8.7,15609
3,730154,"A tragic accident lead to Kaori's blindness, b...",16.835,Your Eyes Tell,2020-10-23,8.7,253
4,424,The true story of how businessman Oskar Schind...,64.166,Schindler's List,1993-11-30,8.6,12472

In [ ]:
df=pd.DataFrame()

In [ ]:
for i in range(1,485):
    response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=2165a4b2bb67ea9bc2dc66c1ab553b51&language=en-US&page={}'.format(i))
    df_temp=pd.DataFrame(response.json()['results'])[['id','overview','popularity','title','release_date','vote_average','vote_count']]
    df=df.append(df_temp,ignore_index=True)

In [ ]:
df.shape

(9680, 7)

In [ ]:
df.head()

,id,overview,popularity,title,release_date,vote_average,vote_count
0,278,Framed in the 1940s for the double murder of h...,114.792,The Shawshank Redemption,1994-09-23,8.7,20906
1,19404,"Raj is a rich, carefree, happy-go-lucky second...",41.583,Dilwale Dulhania Le Jayenge,1995-10-20,8.7,3471
2,238,"Spanning the years 1945 to 1955, a chronicle o...",97.575,The Godfather,1972-03-14,8.7,15609
3,730154,"A tragic accident lead to Kaori's blindness, b...",16.835,Your Eyes Tell,2020-10-23,8.7,253
4,424,The true story of how businessman Oskar Schind...,64.166,Schindler's List,1993-11-30,8.6,12472

In [ ]:
df.to_csv('tmdb_movies_data.csv')