<a href="https://colab.research.google.com/github/Tolu786/web_scraping/blob/main/web_scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [ ]:
final=pd.DataFrame()
for j in range(1,333):
    url='https://www.ambitionbox.com/list-of-companies?page={}'.format(j)
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win64; x64)AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    response=requests.get(url,headers=headers).text
    soup=BeautifulSoup(response,'lxml')
    company=soup.find_all('div', class_="company-content-wrapper")

    name=[]
    rating=[]
    review=[]
    public=[]
    loction=[]
    old=[]
    employees=[]

    for i in company:

            name.append(i.find('h2').text.strip())
            rating.append(i.find('p', class_='rating').text.strip())
            review.append(i.find('a', class_='review-count').text.strip())
            try:
                public.append(i.find_all('p', class_='infoEntity')[0].text.strip())
            except:
                public.append(np.nan)
            try:
                loction.append(i.find_all('p', class_='infoEntity')[1].text.strip())
            except:
                loction.append(np.nan)
            try:
                old.append(i.find_all('p', class_='infoEntity')[2].text.strip())
            except:
                old.append(np.nan)
            try:
                employees.append(i.find_all('p', class_='infoEntity')[3].text.strip())
            except:
                employees.append(np.nan)

    df=pd.DataFrame({'name':name,'rating':rating,'review':review,'public':public,'employees':employees,'loction':loction,'old':old})
    final=final.append(df, ignore_index=True)

In [ ]:
final.shape

(9958, 7)

In [ ]:
final.columns = ['name', 'rating', 'review', 'public', 'employees', 'loction',
       'old']

In [ ]:
final.head()

,name,rating,review,public,employees,loction,old
0,TCS,3.9,(31.4k Reviews),Public,1 Lakh+ employees (India),"Mumbai,Maharashtra + 216 more",54 years old
1,Accenture,4.0,(22.3k Reviews),Public,1 Lakh+ employees (India),"Dublin,Dublin + 124 more",33 years old
2,Cognizant,3.9,(20.4k Reviews),Private,1 Lakh+ employees (India),"Teaneck,New Jersey + 77 more",28 years old
3,ICICI Bank,4.0,(26.6k Reviews),Public,50k-1 Lakh employees (India),"Mumbai,Maharashtra + 923 more",28 years old
4,HDFC Bank,4.0,(28k Reviews),Public,1 Lakh+ employees (India),"Mumbai,Maharashtra + 1005 more",28 years old

In [ ]:
final.isnull().sum()

name            0
rating          0
review          0
public         26
employees    2663
loction       190
old           618
dtype: int64

In [ ]:
final.to_csv('List of companies in India.csv')